# Case Study: Movie Data Analysis

This notebook uses a dataset from the MovieLens website.

* Data SourceL MovieLens web site (filename: ml-20m.zip)
* Location https://grouplens.org/datasets/movielens


First Let's explore the folder to see what files we have in the dataset

In [1]:
!ls -la ./movielens

total 855092
drwxr-xr-x 1 aydin 197609         0 Mar  5 23:15 .
drwxr-xr-x 1 aydin 197609         0 Mar  8 03:05 ..
-rw-r--r-- 1 aydin 197609 323544381 Jan  3 23:41 genome-scores.csv
-rw-r--r-- 1 aydin 197609     18103 Jan  3 23:41 genome-tags.csv
-rw-r--r-- 1 aydin 197609    570090 Jan  3 23:41 links.csv
-rw-r--r-- 1 aydin 197609   1397542 Jan  3 23:41 movies.csv
-rw-r--r-- 1 aydin 197609 533444411 Jan  3 23:41 ratings.csv
-rw-r--r-- 1 aydin 197609     10261 Jan  3 23:41 README.txt
-rw-r--r-- 1 aydin 197609  16603996 Jan  3 23:41 tags.csv

# Use Pandas to read data

In this notebook, we will be using three CSV files:

* ratings.csv: userId, movieId, rating, timestamp
* tags.csv: userId, movieId, tag, timestamp
* movies.csv: movieId, title, genres

In [2]:
import pandas as pd

In [3]:
movie_data = pd.read_csv('./movielens/movies.csv', sep=',')

In [4]:
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
#Timestamps represent seconds since midnight Coordinated Universal Time (UTC)
tags = pd.read_csv('./movielens/tags.csv', sep=",")
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [6]:
ratings = pd.read_csv('./movielens/ratings.csv', sep=",")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

### We do not need timestamp column right now but we will get back to it later on.

In [7]:
del ratings['timestamp']
del tags['timestamp']

# Descriptive Statistics

In [8]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [9]:
ratings['rating'].mean()

3.5255285642993797

In [10]:
ratings['rating'].min(), ratings['rating'].max(), ratings['rating'].std()

(0.5, 5.0, 1.0519889192942424)

In [11]:
ratings['rating'].mode()

0    4.0
dtype: float64

## Quick sanity check

Here we are verifying adequacy of ratings by checking if there are any ratings greater than 5 or less than 0. It is unneccessary since we know min and max ratings values but this is an alternative way.

In [12]:
filter_1 = ratings['rating'] > 5

In [13]:
filter_1.any()

False

In [14]:
filter_2 = ratings['rating'] > 0

In [15]:
filter_2.all()

True

# Data Cleaning: Handling missing data

In [16]:
movie_data.shape

(27278, 3)

In [17]:
movie_data.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [18]:
ratings.shape

(20000263, 3)

In [19]:
ratings.isnull().any()

userId     False
movieId    False
rating     False
dtype: bool

In [20]:
tags.shape

(465564, 3)

In [21]:
tags.isnull().any()

userId     False
movieId    False
tag         True
dtype: bool

In [22]:
null_ = tags['tag'].isnull()
null_

0         False
1         False
2         False
3         False
4         False
          ...
465559    False
465560    False
465561    False
465562    False
465563    False
Name: tag, Length: 465564, dtype: bool

In [23]:
null_tags = tags[null_]
null_tags

        userId  movieId  tag
373276  116460      123  NaN
373277  116460      346  NaN
373281  116460     1184  NaN
373288  116460     1785  NaN
373289  116460     2194  NaN
373291  116460     2691  NaN
373299  116460     4103  NaN
373301  116460     4473  NaN
373303  116460     4616  NaN
373319  116460     7624  NaN
373325  116460     8898  NaN
373332  116460    32460  NaN
373334  116460    33826  NaN
373339  116460    36537  NaN
373340  116460    55805  NaN
454615  133634    33826  NaN

In [24]:
null_tag_movies = null_tags['movieId']
pd.DataFrame(movie_data, index=null_tag_movies)

,movieId,title,genres
movieId,,,
123,125.0,Flirting With Disaster (1996),Comedy
346,350.0,"Client, The (1994)",Drama|Mystery|Thriller
1184,1210.0,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
1785,1869.0,Black Dog (1998),Action|Thriller
2194,2279.0,Urban Legend (1998),Horror|Thriller
2691,2777.0,Cobra (1925),Drama
4103,4197.0,Real Life (1979),Comedy
4473,4568.0,Best of the Best (1989),Action
4616,4711.0,Theremin: An Electronic Odyssey (1993),Documentary
7624,8024.0,"Thing Called Love, The (1993)",Comedy|Drama|Romance
8898,26523.0,"Silent Night, Deadly Night (1984)",Horror|Thriller
32460,NaN,NaN,NaN
33826,NaN,NaN,NaN
36537,NaN,NaN,NaN
55805,NaN,NaN,NaN
33826,NaN,NaN,NaN

### Since we have null values for tags, let's drop them to have a cleaner dataset

In [25]:
tags = tags.dropna()

In [26]:
tags.isnull().any()

userId     False
movieId    False
tag        False
dtype: bool

In [27]:
tags.shape

(465548, 3)

### Extract year from title e.g (1995)

In [28]:
movie_data['year'] = movie_data['title'].str.extract(".*\((.*)\).*", expand=True)

In [29]:
movie_data.tail()

       movieId                          title                    genres  year
27273   131254   Kein Bund für's Leben (2007)                    Comedy  2007
27274   131256  Feuer, Eis & Dosenbier (2002)                    Comedy  2002
27275   131258             The Pirates (2014)                 Adventure  2014
27276   131260            Rentun Ruusu (2001)        (no genres listed)  2001
27277   131262               Innocence (2014)  Adventure|Fantasy|Horror  2014

# Merge Data - average movie ratings over time

In [30]:
average_rating = ratings[['movieId', 'rating']].groupby('movieId', as_index=False).mean()
average_rating.tail()

       movieId  rating
26739   131254     4.0
26740   131256     4.0
26741   131258     2.5
26742   131260     3.0
26743   131262     4.0

In [31]:
joined = movie_data.merge(average_rating, on='movieId', how='inner')
joined.head()

,movieId,title,genres,year,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.921240
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.211977
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,3.151040
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,2.861393
4,5,Father of the Bride Part II (1995),Comedy,1995,3.064592

In [32]:
joined.head()

,movieId,title,genres,year,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.921240
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.211977
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,3.151040
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,2.861393
4,5,Father of the Bride Part II (1995),Comedy,1995,3.064592

## Specify Data to be used in Twitter API request

In [72]:
rating_mask = joined.rating  > 4
year_mask = joined.year > '1990'
genre_mask = joined.genres.str.contains("Fantasy") | joined.genres.str.contains("Animation")

In [73]:
final_data = joined[rating_mask & year_mask & genre_mask]
final_data = final_data.reset_index().drop(columns='index')

In [74]:
import numpy as np
titles = np.array(final_data.title)
for index, title in np.ndenumerate(titles):
    final_data.loc[index, 'title'] = title.split("(")[0]
final_data

,movieId,title,genres,year,rating
0,720,Wallace & Gromit: The Best of Aardman Animation,Adventure|Animation|Comedy,1996,4.109473
1,745,Wallace & Gromit: A Close Shave,Animation|Children|Comedy,1995,4.167315
2,1148,Wallace & Gromit: The Wrong Trousers,Animation|Children|Comedy|Crime,1993,4.181068
3,3000,Princess Mononoke,Action|Adventure|Animation|Drama|Fantasy,1997,4.096299
4,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,2001,4.137925
5,5618,Spirited Away,Adventure|Animation|Fantasy,2001,4.203810
6,5952,"Lord of the Rings: The Two Towers, The",Adventure|Fantasy,2002,4.107521
7,7153,"Lord of the Rings: The Return of the King, The",Action|Adventure|Drama|Fantasy,2003,4.142382
8,26718,Life On A String,Adventure|Drama|Fantasy|Musical,1991,5.000000
9,27328,Monday,Action|Comedy|Crime|Fantasy|Thriller,2000,4.500000
10,31658,Howl's Moving Castle,Adventure|Animation|Fantasy|Romance,2004,4.066078
11,48394,Pan's Labyrinth,Drama|Fantasy|Thriller,2006,4.037898
12,60069,WALL·E,Adventure|Animation|Children|Romance|Sci-Fi,2008,4.038929
13,61240,Let the Right One In,Drama|Fantasy|Horror|Romance,2008,4.010526
14,62336,FLCL,Animation|Comedy|Fantasy|Sci-Fi,2000,4.006627
15,68954,Up,Adventure|Animation|Children|Drama,2009,4.038266
16,73365,Dead Time: Kala,Crime|Fantasy|Film-Noir|Thriller,2007,4.500000
17,76093,How to Train Your Dragon,Adventure|Animation|Children|Fantasy|IMAX,2010,4.000420
18,78499,Toy Story 3,Adventure|Animation|Children|Comedy|Fantasy|IMAX,2010,4.012974
19,95177,Alcina,Drama|Fantasy|Romance,2000,4.250000
20,96608,Runaway Brain,Animation|Comedy|Sci-Fi,1995,4.142857
21,96935,My Left Eye Sees Ghosts,Comedy|Fantasy|Romance,2002,4.333333
22,97300,Björk: Volumen,Animation|Musical,1999,4.125000
23,97789,Step Up Love Story,Animation|Comedy|Romance,2002,4.750000
24,98241,Starry starry night,Children|Drama|Fantasy,2011,4.166667
25,102477,Tales of Vesperia: The First Strike,Animation,2009,4.250000
26,105191,Rocaterrania,Documentary|Fantasy,2009,5.000000
27,108466,Curse of the Ring,Action|Adventure|Drama|Fantasy,2004,4.500000
28,108979,Cowboy Bebop,Action|Adventure|Animation|Crime|Sci-Fi,1998,4.042373
29,110097,From Dad to Son,Animation|Drama,2012,4.500000
30,111783,Neverland,Adventure|Fantasy,2011,4.214286
31,113045,Boogie,Action|Animation|Crime,2009,4.500000
32,114931,Benigni,Animation|Comedy|Drama,2009,4.500000
33,116215,"Ultramarines: A Warhammer 40,000 Movie",Animation|Sci-Fi,2010,4.500000
34,119161,Beyond the Mind's Eye,Animation|Comedy,1992,4.250000
35,128362,Burn Paris Burn,Animation|Fantasy|Mystery,2009,4.500000
36,128987,Lascars,Animation|Comedy,2009,4.500000
37,128991,Johnny Express,Animation|Comedy|Sci-Fi,2014,4.375000
38,129307,Wu yen,Comedy|Fantasy,2001,4.500000
39,130034,Stand by Me Doraemon,Animation|Children|Drama|Fantasy,2014,4.500000
40,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation,2008,5.000000
41,130996,The Beautiful Story,Adventure|Drama|Fantasy,1992,5.000000

In [75]:
import numpy as np
final_data = final_data.drop(final_data[final_data.title.str.contains(", The")].index, inplace = False)
final_data = final_data.reset_index().drop(columns='index')
titles = np.array(final_data.title)
for index, title in np.ndenumerate(titles):
    final_data.loc[index, 'hashtags'] = "#" +  title.replace(" ", "")

In [76]:
final_data

,movieId,title,genres,year,rating,hashtags
0,720,Wallace & Gromit: The Best of Aardman Animation,Adventure|Animation|Comedy,1996,4.109473,#Wallace&Gromit:TheBestofAardmanAnimation
1,745,Wallace & Gromit: A Close Shave,Animation|Children|Comedy,1995,4.167315,#Wallace&Gromit:ACloseShave
2,1148,Wallace & Gromit: The Wrong Trousers,Animation|Children|Comedy|Crime,1993,4.181068,#Wallace&Gromit:TheWrongTrousers
3,3000,Princess Mononoke,Action|Adventure|Animation|Drama|Fantasy,1997,4.096299,#PrincessMononoke
4,5618,Spirited Away,Adventure|Animation|Fantasy,2001,4.203810,#SpiritedAway
5,26718,Life On A String,Adventure|Drama|Fantasy|Musical,1991,5.000000,#LifeOnAString
6,27328,Monday,Action|Comedy|Crime|Fantasy|Thriller,2000,4.500000,#Monday
7,31658,Howl's Moving Castle,Adventure|Animation|Fantasy|Romance,2004,4.066078,#Howl'sMovingCastle
8,48394,Pan's Labyrinth,Drama|Fantasy|Thriller,2006,4.037898,#Pan'sLabyrinth
9,60069,WALL·E,Adventure|Animation|Children|Romance|Sci-Fi,2008,4.038929,#WALL·E
10,61240,Let the Right One In,Drama|Fantasy|Horror|Romance,2008,4.010526,#LettheRightOneIn
11,62336,FLCL,Animation|Comedy|Fantasy|Sci-Fi,2000,4.006627,#FLCL
12,68954,Up,Adventure|Animation|Children|Drama,2009,4.038266,#Up
13,73365,Dead Time: Kala,Crime|Fantasy|Film-Noir|Thriller,2007,4.500000,#DeadTime:Kala
14,76093,How to Train Your Dragon,Adventure|Animation|Children|Fantasy|IMAX,2010,4.000420,#HowtoTrainYourDragon
15,78499,Toy Story 3,Adventure|Animation|Children|Comedy|Fantasy|IMAX,2010,4.012974,#ToyStory3
16,95177,Alcina,Drama|Fantasy|Romance,2000,4.250000,#Alcina
17,96608,Runaway Brain,Animation|Comedy|Sci-Fi,1995,4.142857,#RunawayBrain
18,96935,My Left Eye Sees Ghosts,Comedy|Fantasy|Romance,2002,4.333333,#MyLeftEyeSeesGhosts
19,97300,Björk: Volumen,Animation|Musical,1999,4.125000,#Björk:Volumen
20,97789,Step Up Love Story,Animation|Comedy|Romance,2002,4.750000,#StepUpLoveStory
21,98241,Starry starry night,Children|Drama|Fantasy,2011,4.166667,#Starrystarrynight
22,102477,Tales of Vesperia: The First Strike,Animation,2009,4.250000,#TalesofVesperia:TheFirstStrike
23,105191,Rocaterrania,Documentary|Fantasy,2009,5.000000,#Rocaterrania
24,108466,Curse of the Ring,Action|Adventure|Drama|Fantasy,2004,4.500000,#CurseoftheRing
25,108979,Cowboy Bebop,Action|Adventure|Animation|Crime|Sci-Fi,1998,4.042373,#CowboyBebop
26,110097,From Dad to Son,Animation|Drama,2012,4.500000,#FromDadtoSon
27,111783,Neverland,Adventure|Fantasy,2011,4.214286,#Neverland
28,113045,Boogie,Action|Animation|Crime,2009,4.500000,#Boogie
29,114931,Benigni,Animation|Comedy|Drama,2009,4.500000,#Benigni
30,116215,"Ultramarines: A Warhammer 40,000 Movie",Animation|Sci-Fi,2010,4.500000,"#Ultramarines:AWarhammer40,000Movie"
31,119161,Beyond the Mind's Eye,Animation|Comedy,1992,4.250000,#BeyondtheMind'sEye
32,128362,Burn Paris Burn,Animation|Fantasy|Mystery,2009,4.500000,#BurnParisBurn
33,128987,Lascars,Animation|Comedy,2009,4.500000,#Lascars
34,128991,Johnny Express,Animation|Comedy|Sci-Fi,2014,4.375000,#JohnnyExpress
35,129307,Wu yen,Comedy|Fantasy,2001,4.500000,#Wuyen
36,130034,Stand by Me Doraemon,Animation|Children|Drama|Fantasy,2014,4.500000,#StandbyMeDoraemon
37,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation,2008,5.000000,#TheGardenofSinners-Chapter5:ParadoxParadigm
38,130996,The Beautiful Story,Adventure|Drama|Fantasy,1992,5.000000,#TheBeautifulStory

# Twitter API access

In [77]:
# Dependencies

import os
import tweepy as tw
import json
from pprint import pprint
import config

In [78]:
auth = tw.OAuthHandler(config.consumer_key, config.consumer_secret)
auth.set_access_token(config.access_token, config.access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [79]:
# if not os.path.exists('secret_twitter_credentials.pkl'):
#     Twitter={}
#     Twitter['Consumer Key'] = config.consumer_key
#     Twitter['Consumer Secret'] = config.consumer_secret
#     Twitter['Access Token'] = config.access_token
#     Twitter['Access Token Secret'] = config.access_token_secret
#     with open('secret_twitter_credentials.pkl','wb') as f:
#         pickle.dump(Twitter, f)
# else:
#     Twitter=pickle.load(open('secret_twitter_credentials.pkl','rb'))

In [80]:
# import twitter

# auth = twitter.oauth.OAuth(Twitter['Access Token'],
#                            Twitter['Access Token Secret'],
#                            Twitter['Consumer Key'],
#                            Twitter['Consumer Secret'])

# twitter_api = twitter.Twitter(auth=auth)

### Where on Earth ID number.. this helps to find location based on ID

This was not needed since we found different way to pull data from twitter but still nice to have for future references

In [81]:
# WORLD_WOE_ID = 1
# US_WOE_ID = 23424977
# LOCAL_WOE_ID=2357024 # Atlanta WOEID

In [82]:
# world_trends = twitter_api.trends.place(_id=WORLD_WOE_ID)
# us_trends = twitter_api.trends.place(_id=US_WOE_ID)
# local_trends = twitter_api.trends.place(_id=LOCAL_WOE_ID)

In [83]:
def twitter_pull(hash):
    users_and_text = {}
    tweet_list = ''
    tweets = tw.Cursor(api.search,
        q=hash,
            lang="en").items(1)
    for tweet in tweets:
        users_and_text["hashtag"] = hash
        users_and_text["user_name"] = tweet.user.screen_name
        users_and_text["tweet"] = tweet.text
        users_and_text["location"] = tweet.user.location
#     users_and_text = [[tweet.user.screen_name, tweet.text, tweet.user.location] for tweet in tweets]
    return users_and_text

In [84]:
twits = []
for hash in final_data.hashtags:
    twits.append(twitter_pull(hash))

In [85]:
for tweet in twits:
    print(tweet)

{}
{}
{}
{'hashtag': '#PrincessMononoke', 'user_name': 'Mousawii_', 'tweet': 'I rated #PrincessMononoke 7.2/10\n#Mousawii_M\nhttps://t.co/b3RcTW0mmg', 'location': 'DARK'}
{'hashtag': '#SpiritedAway', 'user_name': 'RodriguezDecann', 'tweet': 'Session 2 pleaseeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee! \n#SpiritedAway https://t.co/TM2LayzZud', 'location': 'Rizal, Calabarzon'}
{}
{'hashtag': '#Monday', 'user_name': 'dcbat', 'tweet': 'RT @dcbat: Will the #UnitedStates elect a woman president in your lifetime?\n\n#SundayAfternoon #SundayMotivation #SundayThoughts #SundayFeel…', 'location': 'Washington DC'}
{'hashtag': "#Howl'sMovingCastle", 'user_name': 'CamJamClassic', 'tweet': 'HOWL howl’s moving castle... the fashion. the earrings. the turning into a bigass bird. mr smovingcastle i have fee… https://t.co/Oo4GmcZooI', 'location': 'Illinois, USA'}
{}
{'hashtag': '#WALL·E', 'user_name': 'cinafilm', 'tweet': 'WALL·E (2008) - Read 970 Movie Reviews \nLink: https://t.co/pcCufXL12c \n#WALL·E', 'location': 'Birmingham, England'}
{'hashtag': '#LettheRightOneIn', 'user_name': 'MawriterIa', 'tweet': 'Best #Vampire attack scene in a movie?\n\nLost Boys is good but the reverse Jaws swimming pool attack in the original… https://t.co/cZi3fEWxFF', 'location': 'UK'}
{'hashtag': '#FLCL', 'user_name': 'KengoMark', 'tweet': 'Start&gt;Finish More robots busts #FLCL https://t.co/0eQoCHsGYm', 'location': ''}
{'hashtag': '#Up', 'user_name': 'andreaowenss', 'tweet': 'Superb cake.... Boy did good 😍 #takethat #Up cake for days and days https://t.co/sYsTLJ5m0C', 'location': 'Belfast, Northern Ireland'}
{}
{'hashtag': '#HowtoTrainYourDragon', 'user_name': 'cinafilm', 'tweet': 'How to Train Your Dragon (2010) - Read 1,054 Movie Reviews \nLink: https://t.co/h5qOxHTIxb \n#HowToTrainYourDragon', 'location': 'Birmingham, England'}
{'hashtag': '#ToyStory3', 'user_name': 'TheLastPirateLA', 'tweet': '🤣😂🤣🤣🤣🤣🤣🤣 Spanish Buzz Light Year #ToyStory3', 'location': '#DTLA 🍀🏴\U000e0067\U000e0062\U000e0073\U000e0063\U000e0074\U000e007f🎩'}
{'hashtag': '#Alcina', 'user_name': 'maireflavin', 'tweet': 'I will be doing an #instagramtakeover @Opera_North for our Photoshoot for #ONAlcina tomorrow so please do follow al… https://t.co/8qkhKt6Efk', 'location': ''}
{}
{}
{}
{}
{'hashtag': '#Starrystarrynight', 'user_name': 'ktwdwdwd', 'tweet': 'Star shower.\n.\n10sec, F3.5, ISO1250, 12mm, Livecomp.\nhttps://t.co/tsNTlP9kEa\n.\n.\n#igersjp #smugmug #livecomposite… https://t.co/SEba9k9DiT', 'location': '日本 京都'}
{}
{}
{}
{'hashtag': '#CowboyBebop', 'user_name': 'menscave7', 'tweet': 'RT @menscave7: CHeck out Mens Sweaters Jackets Hoodies Vintage + New SALE \nhttps://t.co/2PXcPKONlU \n#cowboys #CowboysNation #cowboybebop #K…', 'location': ''}
{}
{'hashtag': '#Neverland', 'user_name': 'HanaREV1', 'tweet': 'RT @duckie_le: So I found the photo long time ago and thought it looks funny so decided to make a quicksketch, then forgot about it until t…', 'location': 'Mecklenburg-West Pomerania'}
{'hashtag': '#Boogie', 'user_name': 'IAMKENJOURNEY', 'tweet': 'This My Real Brother Blood No Needed #Day1 #Boogie darealroadrunnerboogie.            #HappyBirthdayChamp @ Buffalo… https://t.co/2HremTalty', 'location': 'Buffalo, NY'}
{'hashtag': '#Benigni', 'user_name': 'jeevitha2priya', 'tweet': 'Life is beautiful   #moves #benigni #life https://t.co/1avKC4Volx', 'location': ''}
{}
{}
{}
{}
{}
{}
{'hashtag': '#StandbyMeDoraemon', 'user_name': 'tm4ish', 'tweet': 'me while I am watching #StandByMeDoraemon https://t.co/DK7W60PK5f', 'location': 'Leipzig, Germany'}
{}
{}

In [86]:
for index, _dict in enumerate(twits):
    if bool(_dict):
        final_data.loc[index, 'user_name'] = _dict['user_name']
        final_data.loc[index, 'tweet'] = _dict['tweet']
        final_data.loc[index, 'location'] = _dict['location']
    else:
        final_data.loc[index, 'user_name'] = None
        final_data.loc[index, 'tweet'] = None
        final_data.loc[index, 'location'] = None

In [87]:
final_data = final_data.dropna()

In [89]:
final_data.head(16)

,movieId,title,genres,year,rating,hashtags,user_name,tweet,location
3,3000,Princess Mononoke,Action|Adventure|Animation|Drama|Fantasy,1997,4.096299,#PrincessMononoke,Mousawii_,I rated #PrincessMononoke 7.2/10\n#Mousawii_M\...,DARK
4,5618,Spirited Away,Adventure|Animation|Fantasy,2001,4.203810,#SpiritedAway,RodriguezDecann,Session 2 pleaseeeeeeeeeeeeeeeeeeeeeeeeeeeeeee...,"Rizal, Calabarzon"
6,27328,Monday,Action|Comedy|Crime|Fantasy|Thriller,2000,4.500000,#Monday,dcbat,RT @dcbat: Will the #UnitedStates elect a woma...,Washington DC
7,31658,Howl's Moving Castle,Adventure|Animation|Fantasy|Romance,2004,4.066078,#Howl'sMovingCastle,CamJamClassic,HOWL howl’s moving castle... the fashion. the ...,"Illinois, USA"
9,60069,WALL·E,Adventure|Animation|Children|Romance|Sci-Fi,2008,4.038929,#WALL·E,cinafilm,WALL·E (2008) - Read 970 Movie Reviews \nLink:...,"Birmingham, England"
10,61240,Let the Right One In,Drama|Fantasy|Horror|Romance,2008,4.010526,#LettheRightOneIn,MawriterIa,Best #Vampire attack scene in a movie?\n\nLost...,UK
11,62336,FLCL,Animation|Comedy|Fantasy|Sci-Fi,2000,4.006627,#FLCL,KengoMark,Start&gt;Finish More robots busts #FLCL https:...,
12,68954,Up,Adventure|Animation|Children|Drama,2009,4.038266,#Up,andreaowenss,Superb cake.... Boy did good 😍 #takethat #Up c...,"Belfast, Northern Ireland"
14,76093,How to Train Your Dragon,Adventure|Animation|Children|Fantasy|IMAX,2010,4.000420,#HowtoTrainYourDragon,cinafilm,"How to Train Your Dragon (2010) - Read 1,054 M...","Birmingham, England"
15,78499,Toy Story 3,Adventure|Animation|Children|Comedy|Fantasy|IMAX,2010,4.012974,#ToyStory3,TheLastPirateLA,🤣😂🤣🤣🤣🤣🤣🤣 Spanish Buzz Light Year #ToyStory3,#DTLA 🍀🏴󠁧󠁢󠁳󠁣󠁴󠁿🎩
16,95177,Alcina,Drama|Fantasy|Romance,2000,4.250000,#Alcina,maireflavin,I will be doing an #instagramtakeover @Opera_N...,
21,98241,Starry starry night,Children|Drama|Fantasy,2011,4.166667,#Starrystarrynight,ktwdwdwd,"Star shower.\n.\n10sec, F3.5, ISO1250, 12mm, L...",日本 京都
25,108979,Cowboy Bebop,Action|Adventure|Animation|Crime|Sci-Fi,1998,4.042373,#CowboyBebop,menscave7,RT @menscave7: CHeck out Mens Sweaters Jackets...,
27,111783,Neverland,Adventure|Fantasy,2011,4.214286,#Neverland,HanaREV1,RT @duckie_le: So I found the photo long time ...,Mecklenburg-West Pomerania
28,113045,Boogie,Action|Animation|Crime,2009,4.500000,#Boogie,IAMKENJOURNEY,This My Real Brother Blood No Needed #Day1 #Bo...,"Buffalo, NY"
29,114931,Benigni,Animation|Comedy|Drama,2009,4.500000,#Benigni,jeevitha2priya,Life is beautiful #moves #benigni #life http...,