# ETL Project


* This Project is focuced at Movie Data analysis. Once the movies data organized and cleaned using Pandas, we will use Twitter API to access the comments that the movies received based on the hashtag. Finally we will Load the combined data to PostgreSQL database.

This notebook uses dataset from MovieLens website. 
    * Data Source: MovieLens website(filenanemL ml-20m.zip)
    * Location: https://grouplens.org/datasets/movielens/
    
    
Let's look at the files in this dataset

# 1. E - Extract

In this phase we will extract the data and analyze it a little bit.

Analyze the recources folder to see the content of the MovieLens dataset

In [16]:
!ls ./Resources

genome-scores.csv
genome-tags.csv
links.csv
movies.csv
ratings.csv
README.txt
tags.csv

## Use Pandas to read the dataset

We will be using the following CSV files from the dataset
* ratings.csv: userId, movieId, rating, timestamp
* tags.csv: userId, movieId, tag, timestamp
* movies.csv: movieId, title, genres

In [19]:
# Dependencies

import pandas as pd
import numpy as np
import sqlalchemy

In [18]:
movies = pd.read_csv("./Resources/movies.csv", sep = ',', index_col=0)
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [21]:
tags = pd.read_csv("./Resources/tags.csv", sep = ',', index_col=0)
tags.head()

        movieId            tag   timestamp
userId
18         4141    Mark Waters  1240597180
65          208      dark hero  1368150078
65          353      dark hero  1368150079
65          521  noir thriller  1368149983
65          592      dark hero  1368150078

In [22]:
ratings = pd.read_csv("./Resources/ratings.csv", sep=',', index_col=0)
ratings.head()

D:\Anaconda\envs\python37\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

        movieId  rating   timestamp
userId
1             2     3.5  1112486027
1            29     3.5  1112484676
1            32     3.5  1112484819
1            47     3.5  1112484727
1            50     3.5  1112484580

In [14]:
ratings.head()

        movieId  rating   timestamp
userId
1             2     3.5  1112486027
1            29     3.5  1112484676
1            32     3.5  1112484819
1            47     3.5  1112484727
1            50     3.5  1112484580

In [23]:
# For current analysis, we will remove timestamp

del ratings['timestamp']
del tags['timestamp']

#